.section {
	font-family: 'Montserrat', sans-serif;
	background-size: cover;
	background-position: center;
    background-color: white;
}

#search-option-container{
    width: auto;
    height: auto;
    background-color: #154360;
    padding-left: 50px;
    color: #FDFEFE;
    padding-top: 8px;
}

#sort-option-container{
    width: auto;
    height: 60px;
    background-color: #154360; /*#D6DBDF*/
    padding-left: 50px;
    color: #FDFEFE;
}

#sort-option-container p{
    padding: 10px;
    border-radius: 4px;
}
#sort-option-container p:hover{
    background-color: #777777;
}

#myTable{

}

#table-container{
    margin-top: 10px;
    background-color: #F4F6F6;
}
.table thead{
    padding-bottom: 25px;
    padding-top: 15px;
    font-size: 15px;
    height: 40px;
}
.table tbody:hover{
    background-color: azure;
}

#filter-list{
    min-height: 100px;
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    position: absolute;
    display: none;
    color: black;
    float: right;
}