#header{
    width: 98%;
    margin-left: 1%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nav.navbar-nav li a {
    color: white;
}
.nav.navbar-nav li a:hover {
    color: black;
}