#preview-container{
    min-height: 200px;
    width: 50%;
    position: fixed;
    left: 25%;
    top: 0%;
    background-color: whitesmoke;
    border: 1px solid grey;
    display: none;
}
#preview-container-top{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}
#preview-container-middle{
    width: 100%;
    min-height: 200px;
}
#preview-container-left{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 10px;
}
#preview-container-right{
    width: 100%;
    height: 100%;
}
#preview-container-bottom{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #78341a;
}
#preview-container-bottom button{
    position: center;
    margin-left: 10px;
}
#preview-details-seat-view{
    width: 90%;
    height: auto;
    border: 1px solid #CCCCCB;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    position: center;
    margin-left: 5%;
}
#preview-front-side{
    height: 50px;
    width: 99%;
    border-bottom: 1px dashed #CCCCCB;
    padding-top: 15px;
}
#preview-seat-view-group{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

#add-label-container{
    height: 100px;
    width: 550px;
    position: fixed;
    display: none;
    background-color:  #555;//"#F4F6F6";
    color: white;
    top: 0px;
    left: 30%;
    padding-top: 10px;
}
.hoverable{}
.hoverable :hover{
    cursor: pointer;
}
.input-2{
    margin-left: 10px;
}
.input-3{
    margin-top: 18px;
}

